body {
    background-color: #5E5E5E;
    color: #000305;
    font-size: 90%;
    font-family: Verdana, 'Lucida Sans Unicode';
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #000000;
}

a:hover, a:active {
    background-color: #FF000;
    color: #FFF;
}

.body {
    margin: 0 auto;
    clear: both;
}

.topHeader {
    width: 100%;
    margin-top: 2%;
    display: inline-flex;   
}

.mainHeader {
    background-color: #676569;
}

.mainHeader img {
    height: auto;
    margin:  auto;
    padding: 2% 0;
}

.mainHeader nav {
    width: 70%;
    background-color: #09149D;
    height: 40px;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
}

.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainHeader nav ul li {
    float: left;
    display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
    color: #FFF;
    display: inline-block;
    padding: 10px 50px;
    height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: #113DDD;
    text-shadow: none;
}

.innerContent {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
}

.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.content {
    width: 100%;
    float: left;
    background-color: #C3D0D9;
    margin: 2% 0 0 0;
}

.articles {
    background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 3% 5%;
    margin: 2% 2% 2% 2%;
}

.articles img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 2%;
}

#lista-nuestrosServicios {
    list-style: none;
}


.form-input {
	display: block;
	height: 24px;
	padding: 6px 10px;
	margin-bottom: 20px;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	border-radius:         8px;
	-moz-box-shadow:    inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow:         inset 0 0 1px rgba(0, 0, 0, 0.7), 0 1px 0 rgba(255, 255, 255, 0.1);
	background-color: #646464;
	-moz-box-shadow:    inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow:         inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.7);
	behavior: url(PIE.htc);
	width: 320px;
	background: #ededed;
	border: 5px solid #dbdbdb;
	color: #999;
	position: relative;
}
textarea.form-input {
	height: 200px;
	overflow: auto;
	width: 380px; 
	position: relative;
}
.form-btn {
	padding: 0 15px;
	height: 30px;
	font: bold 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
	cursor: pointer;
	border: 1px solid #0d3d6a;
	background-color: #2F57B7;
	clear: both;
	float: right;
}
.form-btn:hover {
	color: #8598C6;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7);
}
.contact-form {
	width: 846px;
	padding: 15px;
	margin: 0 auto;
	position: relative;
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, left top, right bottom, 
										   color-stop(5%,  #bfd1E7), color-stop(5%,  #ed5737),
	                                       color-stop(15%, #ed5737), color-stop(15%, #bfd1E7),
	                                       color-stop(25%, #bfd1E7), color-stop(25%, #2f57b7),
	                                       color-stop(35%, #2f57b7), color-stop(35%, #bfd1E7),
	                                       color-stop(45%, #bfd1E7), color-stop(45%, #ed5737),
	                                       color-stop(55%, #ed5737), color-stop(55%, #bfd1E7),
	                                       color-stop(65%, #bfd1E7), color-stop(65%, #2f57b7),
	                                       color-stop(75%, #2f57b7), color-stop(75%, #bfd1E7),
	                                       color-stop(85%, #bfd1E7), color-stop(85%, #ed5737),
	                                       color-stop(95%, #ed5737), color-stop(95%, #bfd1E7));
	background-image: -webkit-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:    -moz-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:     -ms-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:      -o-repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	background-image:         repeating-linear-gradient(135deg, #ed5737 0, #ed5737 50px, transparent 50px, transparent 80px, #2f57b7 80px, #2f57b7 130px, transparent 130px, transparent 160px);
	-pie-background:          linear-gradient(135deg, 
										   #bfd1E7 5%,  #ed5737 5%,
	                                       #ed5737 15%, #bfd1E7 15%,
	                                       #bfd1E7 25%, #2f57b7 25%,
	                                       #2f57b7 35%, #bfd1E7 35%,
	                                       #bfd1E7 45%, #ed5737 45%,
	                                       #ed5737 55%, #bfd1E7 55%,
	                                       #bfd1E7 65%, #2f57b7 65%,
	                                       #2f57b7 75%, #bfd1E7 75%,
	                                       #bfd1E7 85%, #ed5737 85%,
	                                       #ed5737 95%, #bfd1E7 95%);
	behavior: url(PIE.htc);
	text-align: left;

}
.formulario {
	overflow: hidden;
	padding: 40px 20px;
	background-color: #fff;
}
.column:first-of-type {
	float: left;
	position: relative;
}

.column:last-of-type {
	float: right;
	margin: 0 0 20px 40px;
}
label {
	color: #444;
	font-size: 15px;
}
label span {
	color: #ff4141;
	font-size: 11px;
}

.container {
	background-color: #FFFFFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 2%;
    margin: 2% 2% 2% 2%;
}

.mainFooter {
    width: 100%;
    height: 40px;
    float: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #666;
    margin: 2% 0;
}

.mainFooter p {
    width: 70%;
    margin: 10px auto;
    color: #FFF;
    font-size: 80%;
}

#linkToFacebook {
	font-weight: bold;
	font-size: 1.2em;
}

#linkToFacebook:hover {
	color: blue;
}